@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* * {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

.botonera {
    background-color: rgba(11, 105, 2, 0.938);
    font-size: 2rem;
}

.botonera img {
    width: 70px;
    height: auto;
}


.botonera a {
    color: black;

} */

/* .botoneraDesplegable {

    font-size: 1.6rem;
} */

/* .tamañoLetraBuscador {
    font-size: 1.5rem;
}

.buscador {
    border: none;
    color: white;
    background-color: black;
    font-size: 1.5rem;
}

.ph {

    width: 500px;
    height: auto;
} */

/* .navContainer li a:hover {
    color: #fff;
}

.navContainer li a:hover {
    transition-duration: 400ms;

} */

/* h1 {

    font-size: 6rem;
}

h2 {
    font-size: 4rem;
} */

/* .portada img {

    width: 100%;
} */

/* .text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
} */


/* .textoDestacados {

    font-size: 1.5rem;

} */

/* footer {
    background-color: rgba(11, 105, 2, 0.938);
    display: flex;
    color: white;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    position: relative;

}

footer div a {
    color: white;
} */

/* .whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    fill: black;
    right: 20px;
    bottom: 20px;

} */

/* .formulario {
    display: inline-block;
}

.carrouselImg {
    margin: 0 auto 130px;
}

.carrouselText {
    background-color: rgba(64, 199, 11, 0.377);
    color: black;
    font-size: 1.8rem;


}


.carrouselSection {
    padding: 10px;
}

.carrito {
    margin: 10px;
} */


/* .cartas {
    font-size: 1.5rem;

}

.card img {
    width: auto;
    height: 350px;
}

.centrarImgServicios {
    display: flex;
    justify-content: center;

} */



/* .clientes {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: scroll;
}

.clientes img {

    margin: 30px;
    padding: 30px;
} */







/* .mediaIcon {
    width: 50px;
    height: 50px;
} */

/* .letraNostros {
    padding: 20px;
} */

/* .formIframe {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* .contactMain {
    background-color: rgba(241, 179, 63, 0.5);
} */

/* @media (max-width:768px) {

    .tamañoDestacado {
        font-size: 4rem;
    }

    footer {
        flex-direction: column;
    }

    .redes {

        position: absolute;
        display: flex;
        flex-direction: column;
        left: 80px;
        top: 100px;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }


    .whatsapp {
        width: 60px;
        height: 60px;
    }

    footer svg {

        width: 500px;
        height: 500px;
    }

    .footerAlineacion {
        width: 50%;

    }
}



@media (max-width:480px) {

    .tamañoDestacado {
        font-size: 3rem;
    }

    footer {
        flex-direction: column;
        font-size: 1.3rem;
    }

    .redes {

        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50px;
        top: 110px;

    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .mediaIcon {
        width: 35x;
        height: 35px;
    }

    .whatsapp {
        width: 40px;
        height: 40px;
    }

    .tituloTamaño {
        font-size: 3rem;
    }

    .footerAlineacion {
        width: 50%;

    }
}

@media (max-width:320px) {

    .tamañoDestacado {
        font-size: 2rem;
    }

    footer {
        flex-direction: column;
        font-size: 1.1rem;

    }

    .redes {

        position: absolute;
        display: flex;
        flex-direction: column;
        left: 30px;
        top: 100px; 

            }   



   
    /* .footerAlineacion {
        width: 50%;

    } 
    }*/

/* .tituloTamaño {
    font-size: 2rem;
}


form label {
    display: flex;
    font-size: 1.5rem;

}

.formMod {

    font-size: 1.5rem;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
} */



/* .grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
    padding: 10px;
}

.grid-gallery a img {

    border: solid 1px #000;

}

@media all and (min-width: 320px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
} */