//Arranca el footer

footer {

    background: $mainColor;
    background: radial-gradient(circle, $secondaryColor 0%, $mainColor 100%);
    display: flex;
    color: $white;
    font-size: 1.8rem;
    align-items: center;
    position: relative;
    padding: 30px 35px 30px 35px;
    gap: 25px;
    justify-content: space-between;


    .redes {
        display: flex;
        gap: 5px;

        svg {
            width: 50px;
            height: 50px;
        }
    }





    .espaciadoRedes {
        width: 50px;
        height: 50px;
    }

    @media (max-width:768px) {



        flex-direction: column;


        svg {

            width: 35px;
            height: 35px;
        }

        .footerAlineacion {
            width: 50%;

        }

        .whatsapp {
            width: 60px;
            height: 60px;

        }

        .redes {

            position: absolute;
            display: flex;
            flex-direction: column;
            left: 80px;
            top: 100px;
        }
    }



    @media (max-width:480px) {

        flex-direction: column;
        font-size: 1.3rem;


        .redes {

            position: absolute;
            display: flex;
            flex-direction: column;
            left: 50px;
            top: 110px;

        }

        .mediaIcon {
            width: 35px;
            height: 35px;
        }

        .whatsapp {
            width: 40px;
            height: 40px;
        }

        .footerAlineacion {
            width: 50%;

        }
    }

    @media (max-width:320px) {


        flex-direction: column;
        font-size: 1.1rem;



        .redes {

            position: absolute;
            display: flex;
            flex-direction: column;
            left: 30px;
            top: 170px;
            
            svg{
                height: 35px;
                width: 35px;
            }
        }

    }

    div {
        a {
            color: $white;
        }
    }

}

.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    fill: $black;
    right: 20px;
    bottom: 20px;


}