//Variables


//Colores
$mainColor: rgb(22, 131, 0);
$secondaryColor: rgb(32, 190, 0);
$black: rgb(29, 29, 29);
$white: rgb(252, 231, 231);
$colorFormulario: rgba(241, 179, 63, 0.5) ;
$colorFondo: rgb(11, 94, 0);
$colorExpand: grey;



//fuentes
$mainFont:'Roboto', sans-serif;
$secondaryFont: verdana, sans-serif;
$letraMd: 1.8rem;
$letraCarta: rgba(68, 0, 255, 0.938);


